
html {
@-moz-viewport width: device-width; scale: 1;
@-ms-viewport width: device-width; scale: 1;
@-o-viewport width: device-width; scale: 1;
@-webkit-viewport width: device-width; scale: 1;
@viewport width: device-width; scale: 1;
text-size-adjust: 100%;

font: normal 100%/1.3 Raleway, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/*header-------------*/

body {
  margin: 0;
  background-color: yellow;
}

header {
  padding: 0;
  margin: 0;
  clear: both;
  position: relative;
}

header h1 {
  width: 50%;
padding: 0;
margin: 0;
position: absolute;
left: .5em;
top: .5em;
}

header img {
  width: 50%;
  max-height: 300px;
  padding-top: .5em;
  padding-left: 9em;
  float: left;
  position: relative;
}

.bar {
  width: 100%;
  padding: 0;
  margin: 0;
  height: 30px;
  clear: both;
}

.bar p {
  width: 100%;
  padding: 1em 0;
  margin: 0;
  background-color: #b3897b;
  height: 30px;
  float: left;
}

.bartwo {
  width: 100%;
  padding: 1em 0;
  margin: 0;
  background-color: #b3897b;
  height: 30px;
  float: left;
  position: absolute;
}

/*header end---------*/

.aboutme {
  margin-top: 1em;
  clear: left;
  padding: .5em 1em;
}

.aboutme p {
  padding: 0;
  overflow: hidden;
}

/*footer-------*/


.insta img {
  width: 25%;
  max-width: 50px;
  padding-left: 6em;
  padding-top: .5em;
  margin: 0;
  float: left;
  position: relative;
}

.beh img {
  width: 25%;
  max-width: 50px;
  padding-left: 1em;
  padding-top: 0.5em;
  margin: 0;
  float: left;
  position: relative;
}

.print {
  display: none;
}


@media only screen and (min-width: 22em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

body {
  background-color: blue;
}

  header h1 {
  width: 50%;
  float: left;
  padding: 1em 0 0 .5em;
  margin: 0;
  z-index: 3;
  }

  header img {
    width: 50%;
    max-width: 250px;
    padding-top: 2em;
    padding-left: 9em;
    float: left;
  }

  .insta img {
    width: 25%;
    max-width: 50px;
    padding-left: 6em;
    padding-top: .5em;
    margin: 0;
    z-index: 2;
    float: left;
    position: relative;
  }

  .beh img {
    width: 25%;
    max-width: 50px;
    padding-left: 2em;
    padding-top: .5em;
    margin: 0;
    z-index: 2;
    float: left;
    position: relative;
  }
}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

body {
  background-color: red;
}

header {
  position: relative;
  width: 100%;
}

  header h1 {
  width: 50%;
  max-width: 50px;
  float: left;
  padding-left: 2.5em;
  margin: 0;
  }

  header img {
    width: 50%;
    max-width: 250px;
    padding-top: 1em;
    padding-left: 15em;
    float: left;
  }

  .insta img {
    width: 50%;
    max-width: 50px;
    padding-left: 13em;
    margin: 0;
    float: left;
  }

    .beh img {
      width: 50%;
      max-width: 50px;
      padding-left: 4em;
      margin: 0;
      z-index: 2;
      float: left;
    }

.aboutme p {
  padding: 0 5em 0 5em;
}

}


@media only screen and (min-width: 50em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

body {
  background-color: yellow;
}

  header h1 {
  float: left;
  padding: 1em 0 0 4em;
  margin: 0;
  font-size: 2.25em;
  line-height: 1em;
  }

  header img {
    width: 50%;
    padding-top: .5em;
    padding-left: 20em;
    float: left;
    z-index: 1;
  }

  .insta img {
    width: 30%;
    max-width: 50px;
    padding-left: 16.5em;
    margin-bottom: 2em;
  }

    .beh img {
      width: 30%;
      max-width: 50px;
      padding-left: 5em;
      margin: 0;
      float: left;
    }

.aboutme p {
  padding: 0 9em 0 9em;
}
}

@media only screen and (min-width: 60em) {

  html {
    font-size: 130%;
    line-height: 1.6;
  }

  body {
    background-color: orange;
  }

  header h1 {
  float: left;
  padding: 0 0 0 1em;
  margin: 0;
  font-size: 5em;
  position: absolute;
  }

  header img {
    width: 50%;
    max-width: 400px;
    padding-top: .5em;
    padding-left: 35em;
    float: left;
  }

  .insta img {
    width: 50%;
    padding-left: 23.5em;
    margin: 0;
    float: left;
    position: relative;
    bottom: 7px;
    max-width: 70px;
  }

    .beh img {
      width: 30%;
      max-width: 70px;
      padding-left: 10em;
      margin: 0;
      float: left;
      position: relative;
      bottom: 7px;
    }


.aboutme {
-webkit-column-count: 2; /* Chrome, Safari, Opera */
-moz-column-count: 2; /* Firefox */
column-count: 2;
-webkit-column-gap: 10px; /* Chrome, Safari, Opera */
-moz-column-gap: 10px; /* Firefox */
column-gap: 10px;
-webkit-column-rule-style: none; /* Chrome, Safari, Opera */
-moz-column-rule-style: none; /* Firefox */
column-rule-style: none;
}

.aboutme {
  padding: 1em 8em 1em 8em;
}

.aboutme p {
  padding: 0;
  margin: 0;
}

}



/*print*/

@media print {
  nav {
    display: none;
  }

header {
  display: none;
}

.bar, .bartwo, .insta, .beh, .aboutme {
  display: none;
}

.print {
  background-color: white;
  border-width: medium;
  border-style: solid;
  display: block;
}

.print h1 {
  text-align: left;
  padding: .5em;
}

.print img {
  float: left;
  max-width: 40px;
}

.print p {
  text-align: left;

}

}
/*336 x 192*/
