
html {
@-moz-viewport width: device-width; scale: 1;
@-ms-viewport width: device-width; scale: 1;
@-o-viewport width: device-width; scale: 1;
@-webkit-viewport width: device-width; scale: 1;
@viewport width: device-width; scale: 1;
text-size-adjust: 100%;

font: normal 100%/1.3 Raleway, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/*header-------------*/

body {
  margin: 0;
}

header {
  padding: 0;
  margin: 0;
  clear: both;
  position: relative;
}

header h1 {
width: 50%;
padding: 0;
margin: 0;
position: absolute;
left: -.70em;
top: 0;
}

header img {
  width: 100%;
  max-width: 190px;
  padding-top: .5em;
  padding-left: 1em;
  float: left;
}

.bar {
  width: 100%;
  padding: 0;
  margin: 0;
  height: 30px;
  clear: both;
}

.bar p {
  width: 100%;
  padding: 1em 0;
  margin: 0;
  background-color: #b3897b;
  height: 30px;
  float: left;

}

.bartwo {
  width: 100%;
  padding: 1em 0;
  margin: 0;
  background-color: #b3897b;
  height: 30px;
}

/*header end---------*/

.aboutme {
  margin-top: 1em;
  clear: left;
  padding: .5em 1em;
}

.aboutme p {
  padding: 0;
  overflow: hidden;
}

/*footer-------*/


.insta img {
  width: 25%;
  max-width: 50px;
  padding-left: 5em;
  padding-top: .45em;
  margin: 0;
  float: left;
  bottom: 3.75em;
}

.beh img {
  width: 25%;
  max-width: 50px;
  padding-left: 0em;
  padding-top: 0em;
  margin: 0;
  float: left;
  bottom: 3.75em;
}

.print {
  display: none;
}


@media only screen and (min-width: 22em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  header h1 {
  width: 50%;
  float: left;
  z-index: 2;
  padding: 1em 0 0 1em;
  margin: 0;
  font-size: 2.5em;
  }

  header img {
    width: 100%;
    max-width: 400px;
    padding-top: .5em;
    padding-left: 5em;
    float: left;
    z-index: 1;
  }

  .insta img {
    width: 25%;
    max-width: 50px;
    padding-left: 6em;
    padding-top: .5em;
    margin: 0;
    z-index: 2;
    float: left;
    position: relative;
  }

  .beh img {
    width: 25%;
    max-width: 50px;
    padding-left: 2em;
    padding-top: .5em;
    margin: 0;
    z-index: 2;
    float: left;
    position: relative;
  }
}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  header h1 {
  width: 50%;
  float: left;
  z-index: 2;
  padding: 1em 0 0 1em;
  margin: 0;
  font-size: 3em;
  }

  header img {
    width: 100%;
    max-width: 400px;
    padding-top: .5em;
    padding-left: 11.5em;
    float: left;
    z-index: 1;
  }

  .insta img {
    width: 30%;
    max-width: 70px;
    padding-left: 11em;
    padding-top: 1.5em;
    margin: 0;
    z-index: 2;
    float: left;
  }

    .beh img {
      width: 30%;
      max-width: 70px;
      padding-left: 2em;
      padding-top: 1.5em;
      margin: 0;
      z-index: 2;
      float: left;
    }

.aboutme p {
  padding: 0 5em 0 5em;
}

}


@media only screen and (min-width: 50em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  header h1 {
  position: relative;
  float: left;
  z-index: 2;
  padding: 1em 0 0 1em;
  margin: 0;
  font-size: 3em;
  }

  header img {
    width: 100%;
    max-width: 400px;
    padding-top: .5em;
    padding-left: 20em;
    float: left;
    z-index: 1;
  }

  .insta img {
    width: 30%;
    max-width: 70px;
    padding-left: 16.5em;
    padding-top: 2em;
    margin: 0;
    z-index: 2;
    float: left;
    position: relative;
  }

    .beh img {
      width: 30%;
      max-width: 70px;
      padding-left: 2em;
      padding-top: 2em;
      margin: 0;
      z-index: 2;
      float: left;
    }

.aboutme p {
  padding: 0 9em 0 9em;
}
}

@media only screen and (min-width: 60em) {

  html {
    font-size: 130%;
    line-height: 1.6;
  }

s

  header h1 {
  float: left;
  z-index: 2;
  padding: 1em 0 0 1em;
  margin: 0;
  font-size: 3em;
  position: absolute;
  }

  header img {
    width: 100%;
    max-width: 600px;
    padding-top: .5em;
    padding-left: 30em;
    float: left;
    z-index: 1;
  }

  .insta img {
    width: 30%;
    max-width: 70px;
    padding-left: 20em;
    padding-top: 3em;
    margin: 0;
    z-index: 2;
    float: left;
    position: relative;
  }

    .beh img {
      width: 30%;
      max-width: 70px;
      padding-left: 2em;
      padding-top: 3em;
      margin: 0;
      z-index: 2;
      float: left;
      position: relative;
    }

.aboutme p {
  padding: 0 13em 0 13em;
}

}



/*print*/

@media print {
  nav {
    display: none;
  }

header {
  display: none;
}

.bar, .bartwo, .insta, .beh, .aboutme {
  display: none;
}

.print {
  background-color: white;
  border-width: medium;
  border-style: solid;
  display: block;
}

.print h1 {
  text-align: left;
  padding: .5em;
}

.print img {
  float: left;
  max-width: 40px;
}

.print p {
  text-align: left;

}

}
/*336 x 192*/
